body, html{
    margin:0px;
    padding:0px;
}

body{
    background:white;
}

*{
    font-family: -apple-system, 'Helvetica', 'Sans-serif';
    font-weight: 200;
}

#wrapper{
    width:400px;
    height:700px;
    margin:0px auto;
    position:relative;
}

.attribution{
  position:absolute;
  bottom:10px;
  left:10px;
  width:70px;
}

.overlay{
    top:0px;
    left:0px;
    position:absolute;
    width:100%;
    height:100%;
}
#dashboard_overlay{
    z-index:5;
    display:block;
}
#moira_overlay{
    z-index:5;
    display:block;
}
#login_overlay{
    z-index:10;
    display:block;
    background:rgb(114, 155, 191);
}

h1.main_title{
    display:block;
    margin:0px auto;
    margin-top:100px;
    display:inline-block;
    color:white;
    height:80px;
    padding-left:70px;
    letter-spacing:3px;
    background-image:url('../media/ios7-search_light.png');
    background-size:80px 80px;
    background-repeat:no-repeat;
    background-position:left center;
}

input:focus{
  outline:none;
}

#login_overlay input[type="text"]{
    background:rgba(0,0,0,0.3);
    color:white;
    margin-bottom:10px;
    width:80%;
    border:none;
    border-bottom:2px solid rgb(200,200,200);
    text-align:center;
}
#login{
    border-radius:15px;
    border:none;
    background:white;
    margin-top:20px;
    color:black;
    background-color:white;
    background-image:url('../media/key.png');
    background-size:20px;
    background-position:10px center;
    background-repeat:no-repeat;
    padding:10px;
    width:175px;
    font-size:18px;
}

header{
    position:relative;
    width:98%;
    padding:0px 1%;
    background:rgb(114, 155, 191);
    margin-bottom:20px;
}
header p{
    color:white;
    float:left;
    margin:0px;
    font-size:18px;
}
header button{
    border:1px solid white;
    padding:5px;
    color:white;
    height:50px;
    padding-left:40px;
    border-radius:5px;
    font-size:18px;
    background:none;
    background-size:30px 30px;
    background-position:4px center;
    margin:0px 5px;
    background-repeat:no-repeat;
    border:none;
}
button.change_view.moira{
    background-image:url('../media/chatboxes_light.png');
    float:left;
}
button.change_view.dashboard{
    background-image:url('../media/grid_light.png');
    float:left;
}

#dashboard_indicator{
  height:20px;
  width:100%;
  position:absolute;
  overflow:hidden;
  left:0px;
  bottom:-20px;
  background:gray;
}
#dashboard_indicator div{
  position:relative;
  float:left;
  width:0px;
  height:20px;
}
#dashboard_indicator #unanswered{
  background:gray;
}
#dashboard_indicator #unconfident{
  background:orange;
}
#dashboard_indicator #contested{
  background:red;
}
#dashboard_indicator #answered{
  background:green;
}

.row{
    width:90%;
    margin:10px auto;
    position:relative;
    display:block;
}

.column{
    width:48%;
    display:inline-block;
    margin:10px 1%;
    float:left;    
}

.center{
    text-align:center;
}

.clear{
    clear:both;
}

input[type="text"]{
    width:200px;
    font-size:17px;
    border:none;
    padding:10px 4px;
    border-radius:3px;
    color:white;
    background:rgb(80,80,80);
    font-weight:300;
    background-size:25px 25px;
    background-position:3px center;
    background-repeat:no-repeat;
    margin-bottom:10px;
}
input#username{
    background-image:url('../media/person_light.png');
}

ul#cards{
  width:98%;
  margin:10px 1%;
  padding:0px;
  overflow-y:scroll;
}

li.time{
  list-style:none;
  display:block;
  width:100%;
  clear:both;
  margin:10px auto;
  text-align:center;
  color:rgb(100,100,100);
  font-size:10px;
}

li.card{
  list-style:none;
  display:inline-block;
  clear:both;
  margin:10px 0px;
  margin-bottom:10px;
  padding:5px;
  width:75%;
  border-radius:10px;
  background:rgb(230,230,230);
}
li.card p{
  margin:0px;
  font-size:130%;
  word-break:break-word;
}
li.card img{
  display:block;
  margin:10px auto;
}
li.card.user{
  background:#007AFF;
  color:white;
  float:right;
}
li.card.friend{
  float:left;
}
li.card .confirm{
    background-color:green;
    background-image:url('../media/checkmark_light.png');
    background-size:20px 20px;
    background-repeat:no-repeat;
    background-position:center left;
    border:none;
    color:white;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    margin:10px 2%;
    width:60%;
    height:40px;
    border-radius:2px;
    box-shadow:0px 0px 10px rgb(150,150,150);
}
li.card .unconfirm{
    background-color:red;
    border:none;
    color:white;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    margin:10px 2%;
    width:30%;
    height:40px;
    border-radius:2px;
    box-shadow:0px 0px 10px rgb(150,150,150);
}

#text_input_area{
    width:98%;
    width:98%;
    height:80px;
    position:relative;
    margin:10px 1%;
}
textarea{
  width:100%;
  height:80px;
  max-height:80px;
  border-radius:4px;
  padding:5px 2%;
  border:1px solid #007AFF;
  resize:none;
  font-size:15px;
  position:absolute;
}
textarea#text{
  z-index:10;
  opacity:0.6;
}
textarea#guess{
  z-index:9;
}
textarea:focus{
  outline:none;
}

button{
    cursor:pointer;
}
button:hover{
    opacity:0.8;
}

#questions{
    width:96%;
    margin:10px 2%;
    padding:0px;
    text-align:center;
}

#questions .question{
    text-align:center;
    padding-top:6%;
    width:16%;
    margin:0.3%;
    margin-bottom:2px;
    margin-top:0px;
    height:0px;
    padding-bottom:10%;
    display:inline-block;
    color:white;
    font-size:20px;
}
.question.unanswered{
    background:gray;
}
.question.answered{
    background:green;
}
.question.contested{
    background:red;
}
.question.unconfident{
    background:orange;
}

#online_status{
    display:none;
}
.status{
    width:20px;
    height:20px;
    border-radius:50%;
    float:right;
    margin-top:15px;
    margin-right:10px;
}
